Michael Howard <mphoward@auburn.edu> Michael Howard <mphoward@utexas.edu>
Michael Howard <mphoward@auburn.edu> Michael Howard <mphoward@princeton.edu>
Michael Howard <mphoward@auburn.edu> mphoward <mphoward@princeton.edu>
